APP_NAME=HR-End-to-End-Assistant
APP_VERSION=0.1

LLM_PROVIDER=groq

IMAGE_MAX_SIZE=10
IMAGES_ALLOWED_TYPES=[ "image/png","image/jpg","image/jpeg" ]

FILE_MAX_SIZE=100
FILE_ALLOWED_TYPES=["application/plain","application/pdf","application/vnd.openxmlformats-officedocument.wordprocessingml.document"]
MISTRAL_MODEL=mistral-small-latest
MISTRAL_API_KEY=YOUR-MISTRAL-API-KEY

OLLAMA_MODEL=gemma3

GROQ_MODEL=meta-llama/llama-4-scout-17b-16e-instruct
GROQ_API_KEY=YOUR-GROQ-API-KEY