# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
.eggs/
dist/
build/
*.so

# Virtual environments
.venv/
venv/
env/
ENV/

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# uv
.python-version
uv.lock

# Streamlit
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Logs
*.log
logs/


# Misc
*.bak
*.tmp
tmp/

secrets.toml
.streamlit/secrets.toml